.env
.env.*
!.env.example

__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/

*.ipynb
.ipynb_checkpoints/

crypto_1m_data/
data_stock/
storage/
state/
logs/

openapi_sdk/.git/
openapi_sdk/**/__pycache__/

dnse_test/
vnstock_1m_data/
option_data/

